$textColor: #fff;
$secondaryTextColor: #000;

$cor1: #000;
$cor2: #141e5e;
$cor3: #58b04e;
$cor4: #6f1e51;
$cor5: #314867;
$cor6: #4c2410;
$cor7: #64544c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  color: $textColor;
  list-style: none;

  @media (max-width: 640px) {
    margin: 0 10px;
  }
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 640px) {
    max-width: 80%;
  }

  @media (max-width: 1024px) {
    max-width: 90%;
  }
}

.hero {
  padding-top: 64px;
  padding-bottom: 100px;
  background-image: url(../imagens/pagina/calculadora.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .container {
    position: relative;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    opacity: 0.6;
  }

  &__text {
    margin-top: 64px;
    margin-bottom: 10px;
    font-size: 40px;
    line-height: 56px;
    font-weight: 800;
    text-align: center;

    &--subtitle {
      margin-top: 5px;
      margin-bottom: 64px;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
    }
  }

  &__logo {
    margin: 0 auto;
    height: 80px;
    display: block;
    border-radius: 200px;
  }

  @media (max-width: 640px) {
    padding: 20px 0;

    &__logo {
      height: 40px;
    }

    &__text {
      font-size: 22px;
      line-height: 22px;
      margin: 20px 0;

      &--subtitle {
        font-size: 12px;
      }
    }
  }
}

.linkedin__logo {
  width: 44px;
  height: 46px;
}

.event {
  padding: 80px 0;

  &--resume {
    background-image: linear-gradient($cor1, $cor2);
  }

  &--administration {
    background-image: linear-gradient($cor2, $cor3);
  }

  &--tecnol {
    background-image: linear-gradient($cor3, $cor4);
  }

  &--agil {
    background-image: linear-gradient($cor4, $cor2);
  }

  &--team {
    background-image: linear-gradient($cor2, $cor5);
  }

  &--book {
    background-image: url(../imagens/diferencial/trator02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
      position: relative;
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      content: "";
      opacity: 0.6;
    }
  }

  &--image-left {
    .container {
      flex-direction: row-reverse;
    }
  }

  .container {
    display: flex;
    gap: 40px;
  }

  &__image {
    max-width: 360px;
  }

  &__details {
    &__title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 16px;
    }

    &__description {
      font-size: 16px;
      line-height: 22px;
    }
  }

  @media (max-width: 640px) {
    padding: 20px 0;

    .container {
      display: block;
      margin-right: 160px;
      margin-left: 8px;
    }

    &__image {
      width: 100%;
      margin-top: 20px;
    }

    &__detalis {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}

.button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  &--primary {
    color: #fff;
    background-color: #d16a20;
    cursor: pointer;

    &:hover {
      background-color: #0c6e3c;
    }
  }

  @media (max-width: 640px) {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 24px;
  }

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
  }
}

.shows {
  padding: 2vw 5.6vw;
  min-height: 50vw;
  background-image: linear-gradient($cor7, $cor2);

  &__list {
    margin-top: 44px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    &__item {
      list-style: none;
      img {
        max-width: 100%;
        border-radius: 4px;
      }
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }

    &--is-active {
      display: grid;
    }

    &__item {
      list-style: none;
      img {
        max-width: 100%;
        border-radius: 4px;
        width: 400px;
        height: 260px;
      }
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
  }
}

h3 {
  margin-bottom: 5px;
}

.texto_preto {
  color: $secondaryTextColor;
}

.tam {
  font-size: 18px;
  font-weight: 700;

  @media (max-width: 640px) {
    font-size: 14px;
  }
}

.centro {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.showsexcel {
  padding: 2vw 5.6vw;
  min-height: 50vw;
  background-color: $cor3;
  color: #000;

  &__list {
    margin-top: 38px;
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }

    &--is-active {
      display: grid;
    }

    &__item {
      list-style: none;

      img {
        max-width: 100%;
        border-radius: 4px;
        width: 800px;
        height: 260px;
      }
    }
  }

  &__tabs {
    display: flex;
    justify-content: center;
  }
}

footer {
  padding: 22px 0;
  background-image: linear-gradient($cor3, $cor2);
  text-align: center;
  font-weight: bold;
}
